@font-face {
    font-family: neo;
    src: url(./NeueHaasDisplayBold.ttf);
}
*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    font-family: neo;
}

.logo{
    font-family: neo;
    font-weight: lighter;
    
}

nav{
    padding: 2vw 2vw ;
    width: 95%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.nav-part2 h3{
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
